# Version control
.git
.gitignore
.gitattributes

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Database files - we'll mount these as volumes
# app/data/*.db

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Jupyter notebook checkpoints
.ipynb_checkpoints

# Project specific
Dockerfile
docker-compose.yaml
README.md
docs/
backup/